/**
 * partials/header
 * ---
 */

nav {
  ul {
    li {
      a {
        margin: 0px .75vw;
      }
    }
  }
}

// Header container
.header {}

nav.navbar {
  opacity: 90%;
  background-color: #2C2C2C !important;
  a {
    color: white;
  }
  .navbar-brand {
    text-shadow: 4px 4px #B19146;
    color: white;
    font-size: 2rem;
  }
}
